<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>238334059780-fu9v2nq59l8q8h5hsckglm79jt6cghh4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.238334059780-fu9v2nq59l8q8h5hsckglm79jt6cghh4</string>
	<key>API_KEY</key>
	<string>AIzaSyBdgjspeZVnliHlb_HvwwbqRAv5w-MPGHo</string>
	<key>GCM_SENDER_ID</key>
	<string>238334059780</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shubhankar.GTHacks</string>
	<key>PROJECT_ID</key>
	<string>hackgt-news-app</string>
	<key>STORAGE_BUCKET</key>
	<string>hackgt-news-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:238334059780:ios:4bd4e303e024cde3c7dc51</string>
	<key>DATABASE_URL</key>
	<string>https://hackgt-news-app.firebaseio.com</string>
</dict>
</plist>